
@media only screen and (max-height: 768px){
	#contactSubmit {
    	margin: 27px 35vh 18px;
	}
	#contactMe {
    	margin: 0 21vh;
	}
	#contactMe p {
	}
	.cardsTopBig {
    	margin: 0px 35vh;
	}
	.cardsSmallDiv img{
		height: 50px;
	}
	.aboutPara{
		margin: 0px 44vh;
	}
}


@media only screen and (max-width: 1920px){
	#contactMe{
		margin: 0 45vh;
	}
	.cardsTopBig{
		margin: 0px 64vh;
	}
	.aboutPara{
		margin: 0px 69vh;
	}
	.introParaBig{
		font-size: 45px;
	}
	.introParaSmall{
		font-size: 32px;
	}
	.cardsSmallDiv{
		min-width: 280px;
	}
	.rightNav{
		margin: 24px 0px;
		right: 0%;
	}
	.myList img{
	    width: 68px;
	}
	.chapterNames{
		width: 140vh;
	}
	.nonListHeading{
		margin: 0px 456px;
	}
	.subjectHead{
		margin: 6% 34% 2%;
	}
	.v-l-boxes-main{
		margin-top: 5%;
	}
	#allVideos{
		margin-top: -90px;
	}
	#search{
		width: 300px;
	}
	#form-m{
		height: 50px;
	}
	.myList li a{
		font-size: 17px;
	}
	.rightNav input{
		font-size: 17px;
	}
	#searchButton{
		font-size: 17px;
	}
	.bigText{
		font-size: 30px;
	}
	.cardsSmallDiv img{
	    height: 110px;
	}
	.smallText{
		font-size: 21px;
	}
	.subGoButton{
		padding: 0 100px;
		height: 42px;
	}
	#contactMe input, .dInput{
		font-size: 17px;
	}
	#contactSubmit{
		font-size: 18px;
	}
}

@media only screen and (max-width: 1600px){
	#allVideos {
    	margin-top: -70px;
	}
	#form-m{
		height: unset;
	}
	#search {
    	width: 280px;
	}
	.v-l-boxes-main {
    	margin-top: 6%;
	}
	.rightNav{
		margin: 28px 0px;
	}
	.nonListHeading {
    	margin: 0px 355px;
	}
	.smallText{
		font-size: 17px;
	}
	.cardsSmallDiv img{
	    height: 73px;
	}
	.bigText{
		font-size: 24px;
	}
	.cardsSmallDiv{
		min-width: 205px;
	}
	.subGoButton{
		padding: 0 73px;
	}
	#contactMe input, .dInput{
		font-size: 15px;
	}
	#contactSubmit{
		font-size: 16px;
	}

}
@media only screen and (max-width: 1440px){
	.cardsTopBig {
    	margin: 0px 55vh;
	}
	.aboutPara {
    	margin: 0px 60vh;
	}
	#contactMe {
    	margin: 0 35vh;
	}
	.rightNav {
    	margin: 25px 0px;
	}
	.nonListHeading {
    	margin: 0px 315px;
	}

}

@media only screen and (max-width: 1366px){
	.myList img{
		width: 5.7%;
	}
	.cards{
		margin: 5% 70px;
	}
	.cardsTopBig {
    	margin: 0px 55vh;
	}
	.cardsSmallDiv img{
		height: 73px;
	}
	.aboutPara{
	    margin: 0px 60vh;
	}
	.whatRVS{
		font-size: 17px;
	}
	.whatRVB {
    	font-size: 30px;
	}
	#contactMe{
		margin: 0 35vh;
	}
	.rightNav {
    	margin: 22px 0px;
	}
	.nonListHeading{
		margin: 0px 275px;
	}
	.subjectHead {
    	margin: 6% 30% 2%;
	}
	.bigText{
		font-size: 28px;
	}
	.myList li a{
		font-size: 16px;
	}
	.rightNav input{
		font-size: 16px;
	}
	#searchButton{
		font-size: unset;
	}
}

@media only screen and (max-width: 1280px){
	.myList img{
		width: 7.1%;
	}
	.cardsTopBig {
    	margin: 0px 49vh;
	}
	.aboutPara {
    	margin: 0px 55vh;
	}
	#search {
    	width: 240px;
	}
	.nonListHeading {
    	margin: 0px 245px;
	}
	.rightNav {
		right: 2%;
    	margin: 23px 0px;
	}
	.subjectHead {
    	margin: 6% 25% 2%;
	}
	.nonListHeading {
    	margin: 0px 145px;
	}
	.v-l-boxes-main {
    	margin-top: 9%;
	}
	#allVideos {
    	margin-top: -50px;
	}

}

@media only screen and (max-width: 1024px), @media only screen and (max-width: 1366px){ /*for ipad vertical and horizontal*/
	.cardsTopBig{
		margin: 0px 20vh;
	}
	.aboutPara{
		margin: 0px 25vh;
	}

	#contactMe p{
		margin: 9px 12vh 13px;
	}
	#contactSubmit{
		margin: 27px 17vh 18px;
	}
	.cardsTop{
		margin-top: 14vh;
	}
	#about{
		margin-top: 9vh;
	}
	#contactForm{
		margin-top: 17vh;
	}
	.imgModOrg {
    	margin: 6px 0px 3px 12px;
	}
	#contactMe{
		margin: 0 13vh;
	}

}
@media only screen and (max-width: 1024px) and (max-height: 1366px){
	.cardsTopBig {
    	margin: 0px 19vh;
	}
	.aboutPara {
    	margin: 0px 24vh;
	}
	#contactMe {
    	margin: 0 12vh;
	}
}

@media only screen and (max-width: 1024px){
	.cards{
		margin: 5% 19px;
	}
	.cardsSmallDiv {
    	min-width: 170px;
	}
	.cardsSmallDiv img {
    	height: 60px;
	}
	.cardsTopBig {
    	margin: 0px 34vh;
	}
	.aboutPara {
    	margin: 0px 42vh;
	}	
	#contactMe {
    	margin: 0 17vh;
	}	

}



@media only screen and (max-width: 1000px){
	.imgModOrg {
    	margin: 6px 0px 3px 0px;
	}
}

@media only screen and (max-width: 950px){ /*for normal mobile devices or "UNIVERSAL"*/
	
	#ln1 {
    	margin-left: 14.8px;
	}
	.myList{
		flex-direction: column;
		margin-left: unset;
	}
	#myNav {
	    flex-direction: column;
	    justify-content: center;
	}
	.leftNav{
		width: unset;
	}
	.rightNav{
		width: unset;
		flex-direction: column;
    	align-items: center;
    	right: unset;
    	
	}
	.myList img{
		width: 50px;
		margin-bottom: 8px;

	}
	.lnModLi{
		display: none;
	}
	.rnMod{
	    display: none;
	}

	#searchButton{
		margin-left: unset;
		margin-top: 9px;
		border: 2px solid;
	}
	.rightNav input{
		height: 27px;
		border: 2px solid;

	}
	.burger{
		display: flex;
		transition: all 0.3s;
	}

	.myList li{
		
	}
	.imgMod{
    	margin: 11px 820px 5px 15px;
	}
	.burgerMod {
    	margin: -52px 0px 22px 790px;
	}
	.cards{
		flex-direction: column;
	}
	.cardsTopBig{
		margin: 0px 8vh;
	}
	.whatRV{
		margin: 63px 38px 63px;
	}
	.cardsSmallDiv{
		width: 70vh;
		margin: 0px 47px;
		margin-top: 30px;
	}
	.forGoButton{
		margin-bottom: 17px;
	}
	#contactMe{
	    
	}
	#contactMe p{
		margin: 9px 4vh 13px;
	}
	.cardsTop{
		margin-top: 20vh;
	}
	.smallText{
		font-size: 18px;
	}
	#about{
		margin-top: 20vh;
	}
	#contactForm{
		margin-top: 30vh;
	}

	.stMod{
		font-size: 21px;
	}
	.introParaSmall{
		font-size: 22px;
	}
	.introParaBig{
		font-size: 34px;

	}

	.subBorder{
		visibility: hidden;
	}
	.subName{
		visibility: hidden;
	}
	.subNameBorder{
		visibility: hidden;
	}
	.classButtons{
	    margin: 9px 8px;
	}
	.subjectHead{
		margin: 14% 8% 15%;
	}
	.sHead {
	    font-size: 19px;
	    margin: 4px 18px 6px;
	}

	.bHead{
		font-size: 24px;
    	margin: 17px 0px 4px;
	}
	.nonListHeading{
		margin: 0px;
	}
	.mainTable tr td ul{
		padding-left: 30px;
	}
	.monthsNameHeading{
		margin: 0px;
	}
	.monthsName{
		font-size: 18px;
		width: unset;
	}
	.monthsNameHeading, .nonListHeading{
		font-size: 25px;
		border: none;
		text-decoration: underline;
	}
	.c-change{
		margin: 40px 0px;
	}
	#allVideos {
    	margin-top: -20px;
	}
	.myList img{
		padding: 5px;
	}
}


@media only screen and (max-width: 823px), @media only screen and (max-width: 812px){
	.myList img{
	    width: 6%;
	}
	.imgMod{
		margin: 11px 718px 5px 15px;
	}
	.burgerMod {
    	margin: -52px 0px 22px 706px;
	}
	.cardsTopBig {
    	margin: 0px 43vh;
	}
	.aboutPara {
    	margin: 0px 62vh;
	}
	.cards{
	    margin: 5% 26%;
	}
	#contactMe {
    	
	}
}


@media only screen and (max-width: 823px){
	.cardsSmallDiv img {
    	height: 80px;
	}
	.cards {
    	margin: 5% 25%;
	}
	.bigText{
		font-size: 40px;
	}
	.smallText{
		font-size: 25px;
	}
	#contactMe {
        
	}
	.whatRVS{
		font-size: 23px;
	}
	.whatRVB{
		font-size: 36px;
	}
	.chapterNames {
    	width: 1000vh;
	}
	.subjectHead {
    	margin: 9% 8% 6%;
	}
	.burgerMod {
    	margin: -55px 0px 22px 712px;
	}
	.headMain{
		margin: 4% 30% 0;
	}
	#search{
		width: 189px;
	}
	.v-l-boxes-main{
		margin-top: 11%;
	}
	
}

@media only screen and (max-width: 812px){
		
	.subjectHead {
    	margin: 9% 8% 6%;
	}
	.burgerMod {
    	margin: -55px 0px 22px 712px;
	}
	.v-l-boxes-main{
		margin-top: 11%;
	}
	.s-btn-m{
		padding: 3px 6px;
	}
}

@media only screen and (max-width: 768px){
	.myList img{
		width: 46px;
	}
	.imgMod{
		margin: 11px 665px 5px 15px;
	}
	.burgerMod{
		margin: -55px 0px 22px 612px;
	}

	.bigText{
		font-size: 37px;
	}
	.smallText{
		font-size: 26px;
    	margin: 0px 24px;
	}
	.cards{
		margin: 5% 20%;
	}
	.subGoButton{
		font-size: 22px;
	}
	#contactSubmit{
	    margin: 27px 23vh 18px;
	}
	#contactMe p{
		margin: 9px 16vh 13px;
	}
	.cardsSmallDiv img{
	    height: 106px;
	}
	.cardsTopBig{
		margin: 0px 13vh;
	}
	.aboutPara{
	    margin: 0px 19vh;
	}
	#contactMe {
    	margin: 40px 80px;
	}
	.whatRVS{
		font-size: 22px;
		margin:unset;
	}
	.whatRVB{
		font-size: 34px;
	}
	.burgerMod {
    	margin: -55px 0px 22px 672px;
	}
	.monthsName {
    	width: 26%;
	}
	.chapterNames {
    	width: 58%;
	}
	.bHead{
		font-size: 31px;
	}
	.cardsSmallDiv{
		width: 30vh;
	}
	.no-vid{
		margin: 150px 150px;
	}
}
@media only screen and (max-width: 768px) and (max-height: 360px){
	.cardsSmallDiv {
    	width: 70vh;
	}
}
@media only screen and (max-width: 760px){
	.cardsSmallDiv {
    	width: 70vh;
	}
	.blurBGPhy, .blurBGChem, .blurBGBio, .blurBGMaths{
		background: #e1f3ff;
	}
	.tbody-phy, .tbody-chem, .tbody-bio, .tbody-maths{
		background: #e1f3ff;
	}
}
@media only screen and (max-width: 736px){
	.imgMod {
    	margin: 11px 634px 5px 15px;
	}
	.cards {
    	margin: 5% 19%;
	}
	.cardsTopBig {
    	margin: 0px 32vh;
	}
	.smallText{
		margin: unset;
	}
	#contactMe {
    	
	}	
	.aboutPara {
    	margin: 0px 44vh;
	}
	.whatRVB {
    	font-size: 32px;
	}

	.subjectHead {
    	margin: 9% 8% 6%;
	}
	.burgerMod {
    	margin: -55px 0px 22px 632px;
	}
}


@media only screen and (max-width: 684px){
	.imgMod {
    	margin: 11px 584px 5px 15px;
	}
	.burgerMod {
    	margin: -55px 0px 22px 582px;
	}

}
@media only screen and (max-width: 667px){
	.imgMod {
    	margin: 11px 584px 5px 15px;
	}
	.burgerMod {
    	margin: -55px 0px 22px 562px;
	}
	.introParaBig {
    	font-size: 30px;
	}
	.cardsTopBig {
    	margin: 0px 25vh;
	}
	.cardsTopBig {
    	margin: 0px 40vh;
	}
	.bigText {
    	font-size: 34px;
	}	
	.smallText{
		font-size: 23px;
	}
	#contactMe {
    	
	}
	.introParaSmall {
    	font-size: 19px;
	}
	.rightNav{
	    margin: 7px 0px;
	}
	.myList li a{
		font-size: 14px;
	}
	.cardsTopBig {
    	margin: 0px 25vh;
	}	
	.aboutPara {
    	margin: 0px 41vh;
	}
	.whatRVS {
    	font-size: 21px;
	}
	.whatRVB {
    	font-size: 30px;
	}
	.monthsName {
    	width: 32%;
	}
	.chapterNames{
		font-size: 15px;
	}
	.headMain {
    	margin: 4% 25% 0;
	}
	.v-l-boxes-main {
    	margin-top: 13%;
	}
}


@media only screen and (max-width: 640px){
	.imgMod {
    	margin: 11px 564px 5px 15px;
	}
	.myList img {
    	
	}
	.myList li a {
    	font-size: 16px;
	}
	.cardsTopBig {
    	margin: 0px 23vh;
	}
	.aboutPara{
		margin: 0px 37vh;
	}
	.whatRVS {
    	font-size: 21px;
	}
	.whatRVB {
    	font-size: 32px;
	}
}


@media only screen and (max-width: 568px){
	.imgMod {
    	margin: 11px 474px 5px 15px;
	}
	.burgerMod {
    	margin: -55px 0px 22px 469px;
	}
	.introParaBig {
    	font-size: 28px;
	}
	.cardsSmallDiv img {
    	height: 80px;
	}
	.aboutPara{
	    margin: 0px 36vh;
	}
	.myList img {
    	
	}
	.whatRVS {
    	font-size: 19px;
	}
	.whatRVB {
    	font-size: 28px;
	}
	.myList li a {
    	font-size: 14px;
	}
	.headMain {
    	margin: 4% 24% 0;
	}
	.v-l-boxes-main {
    	margin-top: 15%;
	}
}

@media only screen and (max-width: 540px){
	.p-ref-div{
		flex-direction: column;
		margin-bottom: -12px;
	}
	.burgerMod{
		margin: -55px 0px 22px 448px;
	}
	.myList img{
		
	}
	.imgMod{
		margin: 11px 455px 5px 15px;
	}
	.introParaBig{
		font-size: 25px;
	}
	.bigText {
    	font-size: 34px;
	}
	.smallText {
    	font-size: 22px;
    	margin: 7px 27px 0px;
	}
	.subGoButton {
    	font-size: 20px;
	}	
	.cardsTopBig{
		margin: 0px 13vh;
	}
	.bigText{
		font-size: 32px;
	}
	.smallText {
    	font-size: 20px;
    	margin: 15px 0px 0px;
	}
	.cards{
		margin: 5% 15%;
	}
	.cardsSmallDiv img{
	    height: 73px;
	}
	.headMain{
		margin: 13% 20%;
	}
	.providerName{
		font-size: 21px;
	}
	.v-l-boxes{
    	height: 291px;
	}
	.s-head{
	    margin-bottom: 8px;
	}
	.s-btn-m{
	    width: 8%;
	}
	.videoList{
		height: 177px;
		width: 245px;
	}
	.v-l-boxes-main{
		margin-top: 14%;
	}
	#contactMe {
    	margin: 40px 40px;
	}
	#allVideos {
    	margin-top: 0px;
	}
	.headMain {
    	margin: 13% 20% 9%;
	}
	.cardsSmallDiv {
    	width: 35vh;
	}
}
@media only screen and (max-width: 504px){
	.burgerMod {
        margin: -55px 0px 22px 408px;
	}
	.imgMod {
    	margin: 11px 415px 5px 15px;
	}
}

@media only screen and (max-width: 480px){

	.burgerMod {
    	margin: -55px 0px 22px 380px;
	}
	.cardsSmallDiv {
    	width: 30vh;
	}	
	.cardsTopBig {
    	margin: 0px 4vh;
	}
	.aboutPara{
		margin: 0px 8vh;
	}
	.no-vid{
		margin: 150px 20px
	}

}
@media only screen and (max-width: 450px){
	.cards{
		margin: unset;
	}
	.bigText{
		font-size: 24px;
	}
	.stMod {
	    font-size: 21px;
	}
	.subGoButton{
		font-size: 16px;
	}
	#contactMe p{
		margin: 9px 4vh 13px;
	}
	#contactSubmit{
		margin: 27px 12vh 18px;
	}
	.whatRVB{
		font-size: 30px;
	}
	.smallText{
		font-size: 20px;
	}
	.whatRV{
		padding: 5%;
	}
	.burgerMod{
		margin: -52px 0px 22px 298px;
	}
	.myList img{
		
	}
	.imgMod{
    	margin: 11px 311px 5px 15px;
	}
	.monthsName {
	    font-size: 12px;
	    width: 30%;
	}
	.subjectHead{
		margin: 2em 8% 7%;
	}
	.chapterNames{
	    font-size: 12px;
	}
	.cardsSmallDiv {
    	width: 30vh;
	}
	.rightNav input{
		height: 32px;
	}
	#searchButton{
	    height: 32px;
	}
}

@media only screen and (max-width: 425px){
	.cards{
	    margin: 0px 15px;
	}
	.introParaSmall {
    	display: none;
    	margin-bottom: none;
	}
	.introParaBig {
    	font-size: 35px;
    	margin-top: none;
	}
	#btns{
		margin-top: 20px;
	}
}
@media only screen and (max-width: 414px){
	.cards {
	    margin: 34px 30px 0px;
	}
	.smallText{
		font-size: 19px;
		margin: unset;
	}
	.introParaSmall{
		
	}
	.introParaBig{
		
	}
	.headMain{
		margin: 18% 11% 0;
	}
	.providerName{
		font-size: 16px;
	}
	.v-l-boxes{
		height: 270px;
	}
	.s-head{
	    margin-bottom: 8px;
	}
	.s-btn-m{
	    width: 8%;
	}
	.videoList{
		height: 177px;
		width: 245px;
	}
	.v-l-boxes-main{
		margin-top: 14%;
	}
	.cardsTopBig {
    	margin: 0px 7vh;
	}
	#contactMe {
    	margin: 40px 20px;
	}
	.myList img {
    	
	}
	.bHead {
    	font-size: 28px;
	}
	.no-vid{
		margin: 150px 40px;
		font-size: 30px;
	}

}

@media only screen and (max-width: 375px){
	.cards{
		margin: 34px 17px 0px;
	}
	.whatRVB{
		font-size: 27px;
	}
	.smallText{
		font-size: 18px;
	}
	.headMain{
		margin: 18% 11% 0;
	}
	.providerName{
		font-size: 16px;
	}
	.v-l-boxes{
		height: 270px;
	}
	.s-head{
	    margin-bottom: 8px;
	}
	.s-btn-m{
	    width: 8%;
	}
	.videoList{
		height: 177px;
		width: 245px;
	}
	.v-l-boxes-main{
		margin-top: 14%;
	}
	.myList img {
    	
	}
	.imgMod {
    	margin: 11px 301px 5px 15px;
	}
	.classButtons{
		padding: 3.5px 25px;
	}
	#btns button a{
		font-size: 20px;
	}
	.bHead {
    	font-size: 27px;
	}
}

@media only screen and (max-width: 360px){
	.bHead {
    	font-size: 26px;
	}
	.introParaBig {
    	font-size: 32px;
	}
	.classButtons {
    	padding: 1.5px 18px;
	}
	.imgMod {
    	margin: 11px 290px 5px 15px;
	}
	.burgerMod {
    	margin: -52px 0px 22px 278px;
	}
	.no-vid{
		margin: 150px 30px;
	}
}
@media only screen and (max-width: 320px){
	.burgerMod{
    	margin: -52px 55px 22px 280px;
    	padding: 2px 3px;
	}
	.imgMod{
		margin: 11px 229px 5px 15px;
	}
	.cards{
		margin: 34px 0px 0px;
	}
	.cardsTopBig{
		font-size: 28px;
	}
	.myList img{
		
	}
	.chapterNames{
		font-size: 13px;
	}
	.monthsName{
		font-size: 15px;
	}
	.bHead{
	    font-size: 23px;
	}
	#search{
		width: 164px;
	}
	.s-head{
	    font-size: 37px;
	}
	.providerName {
    	font-size: 13px;
	}
	#btns button a{
		font-size: 17px;
	}
	.classButtons{
		padding: 2.3px 5px;
	}
	.introParaBig{
		font-size: 29px;
	}
	.subjectHead {
    	margin: 2em 8% 8%;
	}
	.sHead{
		font-size: 15px;
	}
	.bHead {
    	font-size: 22px;
	}
	.no-vid{
		font-size: 20px;
		margin: 120px 50px;
	}

}
@media only screen and (max-width: 280px){
	.p-ref{
		font-size: 12px;
	}
	.burgerMod{
    	margin: -52px 55px 22px 270px;
	}
	.imgMod{
		margin: 11px 217px 5px 15px;
	}
	.myList img{
	    
	}
	.cardsTopBig {
    	font-size: 23px;
	}
	.cardsSmallDiv{
	    margin: 0px 33px;
	}
	.smallText{
		font-size: 13px;
	}
	.whatRV{
		margin: 63px 30px 63px;
	}
	#contactMe p{
		margin: 9px 1vh 13px;
		width: 199px;
	}
	#contactMe input{
	}
	.dInput{
	}
	#contactMe {
    	
	}
	#contactSubmit{
		margin: 27px 10vh 18px;
	}
	.introParaSmall{
		
	}
	.introParaBig {
    	font-size: 26px;
	}
	.classButtons {
    	padding: 0px 0px;
    	margin: 9px 8px 2px;
	}
	.forButton{
		margin-bottom: 35px;
	}
	.sHead{
		font-size: 18px;
	}
	.bHead{
		font-size: 20px;
	}
	.monthsNameHeading, .nonListHeading{
	    font-size: 17px;
	}
	.chapterNames{
		font-size: 10px;
	}
	.monthsName{
		font-size: 9px;
	}

	.headMain {
    	margin: 18% 4% 0;
	}
	.providerName {
    	font-size: 11.5px;
        margin: 2% 3% 3% 3%;
	}
	.v-l-boxes-main {
    	margin-top: 17%;
	}
	#search{
		width: 163px;
	}
	.myList img {
    	
	}
	.whatRVB {
    	font-size: 22px;
	}	
	.subjectHead {
    	margin: 3em 8% 12%;
	}
	.no-vid{
		margin: 120px 30px;
	}
}
@media only screen and (max-width: 240px){

}