@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
html{
	scroll-behavior: smooth;
}
header{
	position: sticky;
    top: 0;
    background: #47c4ff;
    box-shadow: 0px 2px 7px #005e8b;
    z-index: 500;
}

body{
	background: #e1f3ff;
}

main{

}

#myNav{
	display: flex;
}

.leftNav{
	width: 75%;
}
.rightNav{
    position: relative;
    right: 2%;
	width: 25%;
    display: flex;
    margin: 21px 0px;
    justify-content: center;

}

.rightNav input{
	border: 2px solid #006595;
	background: none;
    border-radius: 5px;
    font-size: 16px;
    width: 160px;
    padding: 0px 5px;
}

.myList{
	display: flex;
	align-items: center;
    margin-left: 9px;
}


.myList li{
	list-style: none;
    margin: 0px 14.8px;

}
#ln1{
    margin-left: 30px;
}


.myList li a{
	text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: cairo semibold;
    transition: 0.3s;

}

.myList li a:hover{

	color: white;
    /*border-bottom: 2px solid;*/
}

.myList img{
	width: 6.6%;
    border: 2px solid #006595;
    padding: 3px 5px;
    border-radius: 62%;
    transition: all 0.3s;
    background-color: white;

}


#searchButton{
	margin-left: 13px;
    padding: 0px 17px;
    border-radius: 5px;
    color: black;
    border: 2px solid #006595;
    transition: 0.3s;
}

#searchButton:hover{
    background: #dbf0ff;
}


.btn{
	background: none;
	color: white;
    font-size: 13.4px;
    border: 2px solid #23b8ff;
    font-family: cairo;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
	background-color: #23b8ff;
	color: black;
}

.bg{
	background: rgba(0, 0, 0, 0.7) url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
}

.introPara{
	color: white;
}

.introParaBig{
	font-size: 40px;
	margin-top: 20px;
}

.introParaSmall{
	font-size: 28px;
    margin-bottom: 27px;
}


#introText{
	height: 100vh;
    display: flex;
    align-items: center;
    background-position: bottom;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto",sans-serif;
}

#btns{
    margin-top: 31px;
}
#btns button a{
    margin: 6px 7px;
    padding: 4px 48px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.classButtons{
    margin: 0px 8px;
    font-size: 15px;
    border-radius: 4px;
    padding: 2px 0px;
}

.cards{
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin: 5% 19px;
}

.cardsSmallDiv{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background: #47c4ff;
    margin: 0px 26px;
    margin-top: 0px;
    padding: 23px 12px;
    box-shadow: 2px 2px 6px #005e8b;
    min-width: 205px;
}

.cardsSmallDiv img{
    width: 38%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px #0086c5;
    margin: -10px 0px 23px 0px;
    background: #85d8ff;
    height: 73px;
}
.bigText{
    font-size: 24px;
    border-bottom: 3px solid;
    font-family: cairo;
    margin-top: -18px;
    margin-bottom: 12px;
}

.underLine{
    height: 4px;
    background-color: white;
}

.underLine1{
    width: 50px;
    margin-top: 2px;

}


.smallText{
	font-size: 17px;
	font-family: arial;
}

#contProv{
	color: white;
	background: #010407;
	text-align: center;
	margin-top: 7%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.topProv{
	font-size: 28px;
	font-weight: bold;
}

.underLine2{
	width: 40%;
    margin: 5px 0px;
    font-family: cairo;
}

.provName{
    font-size: 25px;
    margin: 2px 0px;
    font-family: constantia;
}

.subText{
	font-size: 15px;
    text-align: left;
    margin-top: 5px;
    font-family: cairo;

}

.forImg{
	border: 3px solid #22c6eb;
    margin: 25px 0px;
    padding: 13px 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background: #001e35;
    font-weight: bold;
}

.forImg img{
	width: 18%;
}

.prov{
	padding: 0 7%;
}

footer{
	text-align: center;
    background: rgb(71 196 255);
    color: #00283b;
    font-size: 16px;
    font-family: cairo semibold;
    padding: 7px 0px;
}
.provForBorder{
	margin-top: -5px;
}

.goButton{
	background: none;
    color: white;
    border: 2px solid #22c6eb;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: -2px;
}

.goButton:hover{
	background-color: #22c6eb;
    color: black;
}

.contactMeBg{
	background: rgb(73 73 73 / 80%) url(../img/contactMe.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;

}

.provBg{
	background: rgb(1 4 7 / 80%) url(../img/contactMe.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
#contactMe{
	color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 33vh;
    border: 2px solid #23b8ff;
    border-radius: 4px;
    padding: 0% 3%;
    padding-top: 8px;
    font-family: cairo semibold;
    background: #00000047;
    box-shadow: 2px 3px 6px black;

}

#contactMe p{
	font-size: 27px;
    border-bottom: 3px solid;
    margin: 9px 0px 13px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding-bottom: 9px;
    width: 237px;
}
#contactMe input{
	margin: 8px 0;
    border: 2px solid #23b8ff;
    border-radius: 4px;
    font-size: 15px;
    padding: 2px 5px;
    font-family: cairo semibold;
    position: relative;
    max-width: 92%;
    min-width: 92%;
}
.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactSubmit{
    margin: 27px 33vh 18px;
    background: none;
    color: white;
    border: 2.6px solid #23b8ff;
    border-radius: 5px;
    cursor: pointer;
    font-family: cairo semibold;
    font-size: 16px;
    transition: all 0.3s;
    width: 95px;
}

#contactSubmit:hover{
	background-color: #23b8ff;
    color: black;
}

.sInput{

}

.dInput{
	position: relative;
    margin: 0px;
    width: 394px;
    height: 150px;
    top: 8px;
    border: 2px solid #23b8ff;
    border-radius: 4px;
    font-size: 15px;
    padding: 3px 5px;
    font-family: cairo semibold;
    max-width: 90%;
    max-height: 150px;
    min-height: 200px;
    min-width: 92%;
}

#contactForm{
    padding: 4% 0px;
    margin-top: 22vh;
}

.whatRV{
	color: black;
    padding: 3%;
    margin: 63px 75px 63px;
    background: #47c4ff;
    box-shadow: 2px 2px 6px #005e8b;
}

.whatRVB{
	font-size: 27px;
}

.whatRVS{
	font-family: cairo semibold;
    font-size: 17px;
}

.cardsTop{
	text-align: center;
    color: #002131;
    margin-top: 21vh;
	font-family: "Roboto",sans-serif;
}

.cardsTopBig{
	text-transform: uppercase;
    font-size: 32px;
    border-bottom: 3px solid;
    margin: 0px 47vh;
    padding-bottom: 16px;
}

#about{
    font-family: "Roboto", sans-serif;
    margin-top: 13vh;
    margin-bottom: 46px;
    color: #002131;
}

.aboutPara{
    text-align: center;
    margin: 0px 56vh;
    padding-bottom: 19px;
}

.subGoButton{
    background: #e1f3ff;
    border: 3px solid #47c4ff;
    font-size: 16px;
    border-radius: 5px;
    padding: 2px 12px;
    cursor: pointer;
    padding: 0px 72px;
    transition: 0.3s;
    box-shadow: 2.3px 2.5px 4px #005e8b;
    text-transform: uppercase;
    font-family: cairo;

}

.subGoButton:hover{
    background: #47c4ff;
    box-shadow: 2.3px 2.5px 10px #005e8b;
}

.forGoButton{
    margin: 0px 17px;
}

.Vburg{
    height: 25px;
    width: 4px;
    background-color: #47c4ff;
    margin: 0px 30px 0px;
    box-shadow: 1.5px 3px 4px #005e8b;
}

.forVB{
    display: flex;
    justify-content: center;
}

.VburgLeft{

}

.VburgRight{

}

.VisAndMargin{

}

.selectClass{
    position: fixed;
    text-align: center;
    width: 78%;
    bottom: 20%;
    background: #e1f3ff;
    padding: 185px 0px;
    left: 12%;
    border: 4px solid #47c4ff;
    border-radius: 5px;
    display: flex;
    box-shadow: 2px 2px 9px #005e8b;
    display: none;
}

.selectClassVis{
    visibility: hidden;
}

.popUpClass11{
    
}

.popUpClass12{
    
}

.popUpClasses{
    width: 50%;
    
}

.popUpClasses button{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    background: none;
    border: 3px solid #47c4ff;
    padding: 4px 25px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2.4px 7px #005e8b;
    transition: 0.3s;
}

.popUpClasses button:hover{
    background: #47c4ff;
    box-shadow: 1px 1px 10px #005e8b;
    
}

.sep{
    position: fixed;
    left: 51%;
    height: 53.8%;
    width: 5px;
    background-color: #47c4ff;
    bottom: 20.2%;
    box-shadow: 3px 0px 5px -2px #005e8b;
}

.closePng{
    border-left: 4px solid #47c4ff;
    border-bottom: 4px solid #47c4ff;
    width: 23px;
    padding: 2.6px;
    border-radius: 3px;
    height: 20px;
    position: fixed;
    left: 87.1%;
    bottom: 78.6%;
    cursor: pointer;
    padding-right: 6px;
    transition: 0.3s;
}

.closePng:hover{
    background: #47c4ff;
}

.subName{
    height: 37px;
    width: 25px;
    position: fixed;
    border-radius: 40px;
    left: 38.4%;
    bottom: 76.1%;
    padding: 10px 80px;
    z-index: 10;
    font-family: cairo;
    font-size: 30px;
}

.subNameBorder{
    height: 37px;
    width: 25px;
    position: fixed;
    background: #e1f3ff;
    border: 4px solid #47c4ff;
    border-radius: 40px;
    left: 41.5%;
    bottom: 73.6%;
    padding: 10px 80px;
    box-shadow: 0px 4px 7px #005e8b;
}

.subBorder{
    position: fixed;
    background: #47c4ff;
    z-index: 20;

}

.topBorder, .bottomBorder{
    height: 4px;
    left: 12.6%;
    width: 77.7%;
}

.rightBorder, .leftBorder{
    width: 4px;
    height: 62.1%;

}

.topBorder{
    bottom: 82.9%;
}

.bottomBorder{
    bottom: 19.9%;
}

.rightBorder{
    right: 87.6%;
    bottom: 20.8%;
}

.leftBorder{
    right: 9.1%;
    bottom: 20.8%;
}

.mainTable tr td, .mainTable tr th{
    border: 4px solid #47c4ff;
    /*border-collapse: collapse;*/
}
.mainTable{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0px 4% 6em;
    font-family: cairo;
}

.mainTable tr{
    padding: 10px 0;
}

.mainTable tbody{
    margin: 2% 0;
    width: 100%;
    border: 4px solid #47c4ff;
    box-shadow: 3px 3px 9px #005e8b;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;

}

.tbody-phy{
    background: rgb(212 237 255 / 70%) url(../img/listbg1.jpg);
    background-position: center;
}

.tbody-chem{
    background: rgb(212 237 255 / 70%) url(../img/listbg2.jpg);
    background-position: center;
}

.tbody-maths{
    background: rgb(212 237 255 / 70%) url(../img/listbg3.jpg);
    background-position: left;
}

.tbody-bio{
    background: rgb(212 237 255 / 70%) url(../img/listbg4.jpg);
    background-position: center;
}

.mainTable tr td ul{
    padding-left: 70px;
}

.monthsName{
    text-align: center;
    width: 320px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.mainTable tr td{
    padding: 2%;
}

.chapterNames{
    width: 103vh;
    font-size: 17px;
    font-weight: 500;
}

.mainTable tr td p{

}


.monthsNameP{
    background: #47c4ff;
    padding: 11px 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #005e8b;
}

.nonListP{
    padding-left : 50px;
}



.mainTable tr td ul li{
    padding: 0px 8px;
    transition: all 0.3s;
}

.mainTable tr td ul li:hover{
    background: #47c4ff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #005e8b;
}

.monthsNameHeading{
    margin: 0px 40px;
}

.nonListHeading{
    text-align: center;
    margin: 0px 135px;
}

.monthsNameHeading, .nonListHeading{
    font-size: 29px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 4px solid;
    padding-bottom: 6px;
}


.blurBGPhy{
    background: rgb(212 237 255 / 70%) url(../img/listbg1Blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.blurBGChem{
    background: rgb(212 237 255 / 70%) url(../img/listbg2Blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.blurBGMaths{
    background: rgb(212 237 255 / 70%) url(../img/listbg3Blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.blurBGBio{
    background: rgb(212 237 255 / 70%) url(../img/listbg4Blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.chap-redirect{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.subjectHead{
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border: 4px solid #47c4ff;
    margin: 6% 25% 2%;
    padding: 15px;
    box-shadow: 2px 3px 7px;
    border-radius: 10px;

}

.sHead{
    font-size: 19px;
    margin: 0px 84px 6px;
}

.bHead{
    font-size: 35px;
}



.s-head{
    font-family: "Oswald", sans-serif;
    font-size: 41px;
    font-weight: 500;
    margin-bottom: 4px;
}

#search{
    font-family: "Roboto", sans-serif;
    border: 2px solid #006595;
    background: none;
    border-radius: 5px;
    width: 174px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 100;

}

.s-btn-m{
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    color: black;
    border: 2px solid #006595;
    background: none;
    transition: 0.3s;
    width: 7%;
    height: 24px;

}

.s-btn-m:hover{
    cursor: pointer;
    background: #47c4ff;
}

.headMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #47c4ff;
    margin: 4% 33% 0;
    padding: 10px 0px 25px;
    border-radius: 8px;
    box-shadow: 2px 3px 7px #005e8b;
}

#form-m{
    display: flex;
    justify-content: center;
}

.main-s{

}


.rnHidden{
    visibility: hidden;
}

.videoList{
    height: 240px;
    border: 4px solid #47c4ff;
    margin: 0% 1%;
    margin-bottom: 0.7%;
    border-radius: 10px;
    box-shadow: 3px 5px 7px #005e8b;
}

.v-l-boxes{
    margin: 8% 5% 0;
    display: flex;
    padding: 2% 0;
    padding-left: 1%;
    padding-right: 1%;
    border: 4px solid #47c4ff;
    border-radius: 9px;
    box-shadow: 3px 3px 7px #005e8b;
    display: flex;
    flex-direction: column;
    height: 376px;
    margin-bottom: 48px;

}

.providerName{
    font-family: "roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    background: #47c4ff;
    padding: 4px 13px;
    border-radius: 26px;
    box-shadow: 1px 1.7px 5px #005e8b;
    margin: 1% 3% 3% 3%;
    width: max-content;
    position: absolute;
}


.v-l-boxes-main{
    display: flex;
    align-items: center;
    margin-top: 8%;
    overflow-y: hidden;
    padding-bottom: 13px;

}

.v-l-boxes-main::-webkit-scrollbar {
  width: 20px;
}

.v-l-boxes-main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #005883;
    border-radius: 24px;
}
 
.v-l-boxes-main::-webkit-scrollbar-thumb {
    background: #47c4ff;
    border-radius: 18px;
}

.v-l-boxes-main::-webkit-scrollbar-thumb:hover {
  background: #0098df; 
}

.footer-s{
    margin-top: 6%;
}

.moreRedirect{
    text-decoration: none;
    color: black;
    font-family: "oswald", sans-serif;
    text-align: center;
    background: #47c4ff;
    margin: 0% 5% 0 4.6%;
    font-size: 18px;
    font-family: 'oswald', sans-serif;
    padding: 13px;
    border-radius: 48px;
    box-shadow: 2px 2px 4px #005e8b;
    padding: 13px 17px;
    border: 4px solid #47c4ff;
    transition: all 0.3s;
}

.moreRedirect:hover{
    background: none;
    box-shadow: 2px 2px 13px #005e8b;
}
.menu-search{
    display: flex;
}

.burger{

    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    border: 3px solid;
    padding: 2px 0px;
    border-radius: 7px;
    display: none;
    width: 38px;
}

.line{
    background: black;
    width: 30px;
    height: 3px;
    margin: 3px 0px;
}

.imgModOrg{
    margin: 5px 0px 5px 15px;
}


.burgerMod{
    margin: -52px 0px 22px 298px;
}

.b-div{
    display: flex;
    justify-content: center;
}

.burger:hover{
    background: #dbf0ff;
}

.rnVis{
    display: none;

}
.b-search{
    margin-top: 9px;
}
.help-t {
    z-index: 20;
    position: fixed;
    bottom: 10%;
    right: -500%;
    background: #47c4ff;
    border-radius: 22px;
    box-shadow: 0.6px 1.6px 4px #005e8b;
    transition: ease-out 1s;

}
.help-t:hover{
    box-shadow: 0px 1.6px 7px #005e8b;

}

.help-t-p {
    font-family: cairo semibold;
    padding: 2px 16px;
    font-size: 15px;
    text-transform: capitalize;
    padding-right: 23px;
}


.no-vid{
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto", sans-serif;
    font-size: 40px;
    margin-top: 30px;
    border: 4px solid #47c4ff;
    margin: 150px 250px;
    border-radius: 40px;
    box-shadow: 0px 1px 17px #005e8b;
}

.c-change{
    text-align: center;
    margin: 57px 0px;
}

.c-change-p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-transform: capitalize;
}

.c-change-p:hover{
    
}

.c-change-btn{
    background: none;
    padding: 4px 14px;
    cursor: pointer;
    border: 4px solid #47c4ff;
    border-radius: 24px;
    box-shadow: 2px 2px 5px #005e8b;
    transition: all 0.3s;
}
.c-change-btn:hover{
    text-decoration: underline;
    background: #47c4ff;
    
    box-shadow: 2px 2px 11px #005e8b;
}

.p-ref{
    border: 2px solid #006595;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 15px;
    background: none;
    margin: 0px 10px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 3px #005e8b;
    transition: 0.3s;
}
.p-ref:hover{
    box-shadow: 1px 1px 9px #005e8b;
    background: #dbf0ff;
}
.p-ref-div{
    display: flex;
    justify-content: center;
    margin: 9px 0px;
    margin-bottom: -20px;
}

.p-ref-yt{

}
.p-ref-g{

}
.p-href-a{
    text-decoration: none;
    color: black;
    font-family: "roboto", sans-serif;
}